OPENAI_API_KEY=OPENAI_API_KEY=
# Database
DATABASE_URI=postgresql+asyncpg://llm:TbTEgg9MwbC9vfF1y91Y@host.docker.internal:5434/llm
DATABASE_ECHO=False

POSTGRES_PUBLIC_HOST=localhost
POSTGRES_PUBLIC_PORT=5434
POSTGRES_USER=llm
POSTGRES_PASSWORD=TbTEgg9MwbC9vfF1y91Y
POSTGRES_DB=llm
POSTGRES_USE_INTERNAL_DOCKER=

# Rabbit
RABBITMQ_PROTOCOL=amqp
RABBITMQ_HOST=rabbitmq_host
RABBITMQ_HOST_NAME=rabbitmq_host
#RABBITMQ_HOST=localhost
#RABBITMQ_HOST_NAME=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
REQUEST_CREATE_AI_VIDEO_QUEUE_NAME=request_create_ai_video

# Docker
API_IMAGE_URL=api
API_PUBLIC_PORT=8000

# Bytescale

BYTE_SCALE_API_KEY=
BYTE_SCALE_ACCOUNT_ID=

#Frontend

NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WEB_VERSION=1.10
NEXT_PUBLIC_BASE_URL=http://localhost:3000