# Database
DATABASE_URI=
DATABASE_ECHO=

POSTGRES_PUBLIC_HOST=
POSTGRES_PUBLIC_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USE_INTERNAL_DOCKER=

# Rabbit
RABBITMQ_PROTOCOL=
RABBITMQ_HOST=
RABBITMQ_HOST_NAME=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
REQUEST_CREATE_AI_CONTENT_QUEUE_NAME=

# Docker
API_IMAGE_URL=
API_PUBLIC_PORT=

# Bytescale

BYTE_SCALE_API_KEY=
BYTE_SCALE_ACCOUNT_ID=

OPENAI_API_KEY=